body{
background-image:url(/images/landing.jpg);
background-position:center;
background-attachment:fixed;
background-repeat:no-repeat;
}

.overlay{
background-position:center;
height:550px;
background-color:black;
opacity:0.8;
z-index:1;
margin-left:50px;
margin-right:50px;
margin-top:30px;

}
#head{
color:white;
text-align:center;
padding-top:90px;
font-weight:900;
font-size:65px;
}