{{#partial "content"}}
    <div class="overlay">
        <div class="row">
            <div class="col-md-6">
                <div class="container" id="lovely">
                    <h4 class="text-white">Add animal</h4>
                    <form action="/form" method="POST">
                        <div class="md-form w-50">
                            <input id="name" name="name" type="text" length="5" class="form-control text-light" placeholder="Name">
                        </div>
                        <div class="md-form w-50">
                            <select id="location" name="location" type="text" length="5" class="form-control text-light">
                                <option selected disabled>Location</option>
                                <option value="river">River Bank</option>
                                <option value="pond">At the pond</option>
                                <option value="quicksand">At the quick sands</option>
                                <option value="clearing">At the clearing</option>
                                <option value="waterfall">At the waterfall</option>
                            </select>
                        </div>
                        <div class="md-form w-50">
                            <input id="ranger_name" name="ranger_name" type="text" length="5" class="form-control text-light" placeholder="Ranger">
                        </div>
                     <button type="submit" class="btn btn-warning" >Go!</button>
                    </form>
                </div>
            </div>

                <div class="col-md-6">
                    <div class="container">
                    <h4 class="text-white">Add endangered animal</h4>
                    <form action="/form" method="POST">
                        <div class="md-form w-50">
                            <input id="name" name="name" type="text" length="5" class="form-control text-light" placeholder="Name">
                        </div>
                        <div class="md-form w-50">
                            <select id="name" name="location" type="text" length="5" class="form-control text-light" placeholder="Sighting">
                                <option selected disabled>Location</option>
                                <option value="river">River Bank</option>
                                <option value="pond">At the pond</option>
                                <option value="quicksand">At the quick sands</option>
                                <option value="clearing">At the clearing</option>
                                <option value="waterfall">At the waterfall</option>
                            </select>
                        </div>
                        <div class="md-form w-50">
                            <select id="health" name="health" type="text" length="5" class="form-control text-light" placeholder="Sighting">
                                <option selected disabled>Health</option>
                                <option value="ANIMAL_OKAY">Okay</option>
                                <option value="ANIMAL_ILL">Ill</option>
                            </select>
                        </div>
                        <div class="md-form w-50">
                            <select id="age" name="age" type="text-white" length="5" class="form-control text-light">
                                <option selected disabled>Age</option>
                                <option value="ANIMAL_NEWBORN">Newborn</option>
                                <option value="ANIMAL_YOUNG">Young</option>
                                <option value="ANIMAL_ADULT">Adult</option>
                            </select>
                        </div>
                        <div class="md-form w-50">
                            <input id="ranger_name" name="ranger_name" type="text" length="5" class="form-control text-light" placeholder="Ranger">
                        </div>
                        <button type="submit" class="btn btn-warning" >Go!</button>
                    </form>

                </div>
            </div>
        </div>

    </div>

{{/partial}}
{{>layout.hbs}}