{{#partial "content"}}
    <div class="overlay">
        <div class="row">
            <div class="col-md-6">
                <div class="container" id="lovely">
                    <h4 class="text-white">Add animal</h4>
                    <form action="/form" method="POST">
                        <div class="md-form w-50">
                            <input id="name" name="name" type="text-white" length="5" class="form-control" placeholder="Name">
                        </div>
                        <div class="md-form w-50">
                            <select id="location" name="location" type="text" length="5" class="form-control">
                                <option value="river">River Bank</option>
                                <option value="pond">At the pond</option>
                                <option value="quicksand">At the quick sands</option>
                                <option value="clearing">At the clearing</option>
                                <option value="waterfall">At the waterfall</option>
                            </select>
                        </div>
                        <div class="md-form w-50">
                            <input id="ranger_name" name="ranger_name" type="text-white" length="5" class="form-control" placeholder="Ranger">
                        </div>
                     <button type="submit" class="btn btn-warning" >Go!</button>
                    </form>
                </div>
            </div>

                <div class="col-md-6">
                    <div class="container">
                    <h4 class="text-white">Add endangered animal</h4>
                    <form>
                        <div class="md-form w-50">
                            <input id="name" name="name" type="text-white" length="5" class="form-control" placeholder="Name">
                            <label for="name"class="text-white" >Name</label>
                        </div>
                        <div class="md-form w-50">
                            <select id="name" name="name" type="text-white" length="5" class="form-control" placeholder="Sighting">
                                <option value="1">River Bank</option>
                                <option value="">At the pond</option>
                                <option value="">At the quick sands</option>
                                <option value="">At the clearing</option>
                                <option value="">At the waterfall</option>
                            </select>
                        </div>
                        <div class="md-form w-50">
                        <button type="submit" class="btn btn-warning" >Go!</button>
                    </form>

                </div>
            </div>
        </div>

    </div>

{{/partial}}
{{>layout.hbs}}