{{#block "header"}}
    <!DOCTYPE html>
    <html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{{#block "title"}}Rangers{{/block}}</title>
        <!-- Font Awesome -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
        <!-- Bootstrap core CSS -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
        <!-- Material Design Bootstrap -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.9/css/mdb.min.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Alegreya|Alex+Brush|Bad+Script|Boogaloo|Calligraffitti|Caveat|Cookie|Courgette|Dancing+Script|Farsan|Great+Vibes|Handlee|Indie+Flower|Italianno|Just+Another+Hand|Kalam|Kreon|Libre+Caslon+Text|Marck+Script|Merienda|Mountains+of+Christmas|Nunito|Open+Sans+Condensed:300|PT+Sans+Narrow|Rancho|Rochester|Sacramento|Satisfy|Shadows+Into+Light|Sniglet|Tangerine&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/styles.css">
    </head>
    <body>
{{/block}}
<!--Navbar-->
<nav class="navbar navbar-expand-lg navbar-light warning-color lighten-5">
    <div class="collapse navbar-collapse" id="basicExampleNav">
        <!-- Links -->
        <ul class="navbar-nav mr-auto">

            <li class="nav-item active">
                <a class="nav-link" href="/">Home
                    <span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/animals">Animals
                    <span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Sightings</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/form">Report Animal</a>
            </li>
        </ul>
    </div>
</nav>
<!--/.Navbar-->

{{#block "content"}}

<div class="overlay">
<h1 id="head">Rangers' World</h1>
    <p class="text-center text-white">In animals we trust</p>
</div>




{{/block}}

{{#block "footer"}}
    <!-- JQuery -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.9/js/mdb.min.js"></script>
    </body>
    </html>

{{/block}}